<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<p th:text="'modelUser=' + ${modelUser['userName']} + '!'" >默认输出</p>
<p th:text="'modelUser=' + ${modelUser.userName} + '!'" >默认输出</p>

<p th:text="'requestUser=' + ${requestUser.userName} + '!'" >默认输出</p>

<p th:text="'sessionUser=' + ${session.sessionUser['userName']} + '!'" >默认输出</p>

<p th:text="'sessionUser=' + ${session.sessionUser['userName']} + '!'" >默认输出</p>
</body>
</html>